"*":
  "atom-beautify":
    executables:
      php: {}
      "php-cs-fixer":
        path: "G:\\programs\\php-cs-fixer\\vendor\\bin\\php-cs-fixer.bat"
    general:
      _analyticsUserId: "40e5ad1a-7d8e-4d11-92fb-a722651cfaa5"
  "atom-ignore": {}
  core:
    disabledPackages: [
      "foldername-tabs"
    ]
    ignoredNames: [
      "node_modules"
      "src/assets/images"
      "src/assets/fonts"
      "src/assets/svg"
      "static/images"
    ]
    telemetryConsent: "limited"
    themes: [
      "threshold-ui"
      "bright-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  "custom-title":
    template: "<%= projectName %> <% if (projectPath) { %> - <%= projectPath %><% } %>"
  editor:
    fontSize: 15
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-"
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "4d6b83ca-1e9b-40e2-abbe-9c74650e76a8"
  "foldername-tabs":
    maxLength: 1
  "git-history":
    showDiff: false
  "smart-tab-name": {}
  "tab-foldername-index": {}
  welcome:
    showOnStartup: false
    showSunsettingOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    nonWordCharacters: "$/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-"
".blade.php":
  editor:
    nonWordCharacters: "/\\\\()\"\\':,.;<>~!@#%^&*|+=[]{}`?-"
".blade.php.source":
  editor:
    nonWordCharacters: "/\\\\()\"\\':,.;<>~!@#%^&*|+=[]{}`?-"
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
".html.text.vue":
  editor:
    autoIndentOnPaste: false
".php.source":
  editor:
    nonWordCharacters: "/\\\\()\"\\':,.;<>~!@#%^&*|+=[]{}`?-"
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
